
<%-  include('./partials/header.ejs') %>

<h4 style="margin-left: 40%;">List of affliated colleges</h4><br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        <% clgs.forEach((clg, index) => { %>
            <tr>
                <th scope="row"><%= clg.Clg_id %></th>
                
                <td><%= clg.Clg_Name %></td>
                <td><%= clg.Clg_Address %></td>
            </tr>
        <% }) %>
    </tbody>
</table><br><br>

<br><br>

<form action="/depts2" method="POST">
    <label>Enter Clg id to dive in </label>
    <input type="text" name="dept_name" required>>
    <button type="submit"> Find </button>
</form>

<%-  include('./partials/footer.ejs') %></br>